<% content_for :title do %><%= @demo.title %> | Demo<% end %>

<div class="demo-detail">
  <h1><%= @demo.title %></h1>

  <div class="bs-component">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a id="descriptionTab" href="#description" data-toggle="tab">description</a></li>
      <li><a id="demoTab" href="#demo" data-toggle="tab">demo</a></li>
    </ul>
    <div id="demo-tab-content" class="tab-content">
      <div class="tab-pane fade active in" id="description">
        <div>
          <%= image_tag(@demo.img + '.png', :class => "demo-detail-thumbnail") %>
        </div>
        <div>
          <%= image_tag(@demo.img + '-p.png', :class => "demo-detail-thumbnail-p") %>
        </div>
        <%= raw @demo.long_desc %>
      </div>
      <div class="tab-pane fade" id="demo">
        <script>
          window.onload = function() {
            <%= raw @demo.script %>
          };
        </script>
      </div>
    </div>
  </div>
</div>
