<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title><%= yield :title %> | bill-boyer.com</title>
<meta name="description" content="Bill Boyer is a software developer, architect, and technical leader based in NYC.  This is his personal site." />
<meta name="keywords" content="bill boyer software developer engineer architect leader manager nyc mtv nickelodeon comedy central viacom web app java javascript C++ SQL media video" />
<link rel="icon" href="/img/favicon.png" type="image/png" />

<meta property="og:title" content="bill-boyer.com" />
<meta property="og:description" content="Bill Boyer is a software developer, architect, and technical leader based in NYC.  This is his personal site." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.bill-boyer.com" />
<meta property="og:image" content="http://www.bill-boyer.com/img/boyer-og-1910x1000.jpg" />

<meta name="twitter:card" content="summary" />

<link id="theme" type="text/css" rel="stylesheet" href="/css/themes/cerulean/bootstrap.css" />

<%= stylesheet_link_tag "/css/site.css" %>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "/js/head.min.js" %>
<%= csrf_meta_tags %>
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '784334068290045',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">

<div class="row">
<nav class="navbar navbar-default" role="navigation">

<div class="navbar-header">
<a href="/"><p class="navbar-brand">bill-boyer.com</p></a>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse">
<ul id="nav-ul" class="nav navbar-nav navbar-right">
<li><a href="/about-me">About Me</a></li>
<li><a href="/about-this-site">About This Site</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/demos">Demos</a></li>
</ul>
</div>

</nav>
</div>

<div class="row">
<div class="col-lg-9 col-lg-push-3 right-col">
